<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <Title>Add Product</Title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
<!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <form style="padding-top:80px" action="/addProduct" method="post" enctype="multipart/form-data">
        <input type="text" name="title" />
        <input type="text" name="author" />
        <input type="text" name="genre" />
        <input type="text" name="publisher" />
        <input type="text" name="description" />
        <input type="number" name="price" />
        <input type="file" name="imageFile" accept="image/*"/>
        <button type="submit">Submit</button>
    </form>
</body>