<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <Title>Error</Title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
<!-- Navbar -->

    <div th:replace="fragments/navbar :: navbar"></div>

    <h1>An error occurred</h1>

    <p>
        <strong>Status:</strong>
        <span th:text="${status}">Status Code</span>
    </p>

    <p>
        <strong>Error:</strong>
        <span th:text="${error}">Error Type</span>
    </p>

    <p>
        <strong>Message:</strong>
        <span th:text="${message}">Error Message</span>
    </p>

    <p>
        <strong>Path:</strong>
        <span th:text="${path}">Request Path</span>
    </p>
</body>
