<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <Title>Product Showcase</Title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
<!-- Navbar -->

    <div th:replace="fragments/navbar :: navbar"></div>

<!-- Product -->
    <main>
        <div class="product-page">
            <div class="product-page-image-container">
                <img th:if="${product.image == null}"
                     th:src="@{/images/unloaded-image.png}"
                     alt="Product Image"
                     class="big-product-image">
                <img th:if="${product.image != null}"
                     th:src="@{/uploadedImages/{id}(id=${product.image?.id})}"
                     alt="Product Image"
                     class="big-product-image">

            </div>
            <div class="product-page-top-right">
                <div class="description-box">
                    <h3 th:text="${product.title}"></h3>
                    <p th:text="${product.description}"></p>
                </div>
                <div class="buttons-wrapper">
                    <form th:action="@{/product/{id}/add(id=${product.id})}" method="post">
                        <input type="hidden" name="productId" th:value="${product.id}"/>
                        <button type="submit" class="add-to"><b>Add to Basket</b></button>
                    </form>
                </div>
            </div>

            <div class="product-page-bottom"></div>

        </div>
    </main>
</body>
</html>
